{% extends "::layout.html.twig" %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>
            <a href="{{ path('url_new') }}">
                Create a new entry
            </a>
        </p>
        <hr />

    {% for entity in entities|reverse %}
        {{ entity.createdAt|date('d/m/Y - H:i') }} - 
        <a href='http://url.php-br.org/{{ entity.id }}'>{{ entity.description }}</a>
        <a href="{{ path('url_edit', { 'id': entity.id }) }}"> - Editar</a>
        <br />
    {% endfor %}

    </div>
</div>
{% endblock %}
