    <a href="https://github.com/php-br-org/php-br">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>

<header id="main-header">
    <div id="content-wrapper">
        <div class="panel">
            <div class="row">
                <div class="large-4 columns">
                    <a href="{{ url('phpbr_app_main') }}">
                        <img src="{{ asset('bundles/phpbrapp/assets/images/logo-site.png') }}" border="0" />
                    </a>
                </div>
                <div class="large-8 columns text-right">
                    <a href="https://www.digitalocean.com/?refcode=814f738c2a2d">
                        <img src="{{ asset('bundles/phpbrapp/assets/images/ssd_digitalocean.jpg') }}" border="0" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <a href="#"></a>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>{{ 'phpbr.header.menu'|trans({}, 'header') }}</span></a></li>
            </ul>
            <section class="top-bar-section" style="padding-left: -10px;">
                <ul class="right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="has-dropdown">
                            <a href="javascript:return false;">
                                Meu Dados
                            </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="{{ url('list_my_articles') }}">{{ 'phpbr.header.my_articles'|trans({}, 'header') }}</a>
                                </li>
                                <li>
                                    <a href="{{ url('phpbr_list_my_events') }}">{{ 'phpbr.header.my_events'|trans({}, 'header') }}</a>
                                </li>
                                <li>
                                    <a href="{{ url('fos_user_profile_edit') }}">{{ 'phpbr.header.edit_profile'|trans({}, 'header') }}</a>
                                </li>
                            </ul>
                        </li>

                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')) %}
                            <li class="has-dropdown">
                                <a href="{{ url('home_admin') }}">{{ 'phpbr.header.panel'|trans({}, 'header') }}</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="{{ url('admin_articles') }}">{{ 'phpbr.header.approve_articles'|trans({}, 'header') }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ url('admin_forum_categories') }}">{{ 'phpbr.header.forum_categories'|trans({}, 'header') }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{{ url('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url('fos_user_security_login') }}">{{ 'phpbr.header.login'|trans({}, 'header') }}</a>
                        </li>
                        <li>
                            <a href="{{ url('fos_user_registration_register') }}">{{ 'phpbr.header.register'|trans({}, 'header') }}</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="left">
                    <li><a href="{{ url('list_articles') }}">{{ 'phpbr.header.articles'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('phpbr_app_whoweare') }}">{{ 'phpbr.header.about'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('phpbr_app_webchat') }}">{{ 'phpbr.header.webchat'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('paste') }}">{{ 'phpbr.header.paste_code'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('forum_index') }}">{{ 'phpbr.header.forum'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('phpbr_event_view_all') }}">{{ 'phpbr.event.events'|trans({}, 'event') }}</a></li>
                    <li><a href="{{ url('nelmio_api_doc_index') }}">{{ 'phpbr.header.api'|trans({}, 'header') }}</a></li>
                    <li><a href="{{ url('phpbr_app_contact') }}">{{ 'phpbr.header.contact'|trans({}, 'header') }}</a></li>
                </ul>
            </section>
        </nav>
    </div>
</header>
