{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
        <div class="large-8 columns">
            <h3>
                <a href="{{ path('forum_index') }}">Forum</a> |
                <a href="{{ path('forum_ver_categoria', {'slug': topic.category.slug }) }}">{{ topic.category.nome }}</a> |
                {{ topico.assunto }}
            </h3>
        </div>

        <div class="large-3 columns">
            <a href="#formMensagem" class="button success right">
                {{ 'phpbr.forum.new_message'|trans({}, 'forum') }}
            </a>
        </div>

        <hr />

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice panel callout radius">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="large-11 large-centered columns">
        <div class="large-2 columns">
            <a href="{{ path('phpbr_app_verusuario', { 'usuario': topico.user.username }) }}">
                <div class="sidebar-item-block">
                    <img src="{{ topico.user.email|email2gravatar('120') }}" alt="{{ topico.user.name }}" class="avatar" />
                </div>
                <div class="">
                    {{ topic.user.name }}
                </div>
            </a>
            <p>
                {{ topic.dataCriacao|date('U')|time_passed }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
            </p>
        </div>
        <div class="large-9 columns">
            {% if (topico.user == usuario) %}
                <a href="{{ path('forum_deletar_topico', {'id': topico.id}) }}" class="tiny button">
                    {{ 'phpbr.forum.delete_topic'|trans({}, 'forum') }}
                </a>
                <br />
            {% endif %}
            <strong>{{ topico.assunto }}</strong>
            <p>
                {{ topico.mensagem|markdown }}
            </p>
        </div>
        <hr />

        {% for mensagem in mensagens %}
            <div class="row">
                <div class="large-2 columns">

                    <a href="{{ path('phpbr_app_viewuser', { 'user': mensagem.user.username }) }}">
                        <div class="sidebar-item-block">
                            <img src="{{ mensage.user.email|email2gravatar('80') }}" alt="{{ mensage.user.name }}" class="avatar" />
                        </div>
                        <div class="">
                            {{ mensage.user.name }}
                        </div>
                    </a>
                    <p>
                        {{ mensage.dataCriacao|date('U')|time_passed }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
                    </p>
                </div>
                <div class="large-9 columns">
                    {% if (mensage.user == user) %}
                        <a href="{{ path('forum_delete_message', {'id': mensage.id}) }}" class="tiny button">
                            {{ 'phpbr.forum.delete_message'|trans({}, 'forum') }}
                        </a>
                        <br />
                    {% endif %}
                    {{ mensage.mensage|markdown }}
                </div>
                <hr />
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="large-11 large-centered columns">
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'phpbr.forum.login'|trans({}, 'forum') }}
                </a>
            {% endif %}
            <a id="formMensagem"></a>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        phpbr.highlight();
    </script>
{% endblock %}
