{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3><a href="{{ url('forum_index') }}">Forum</a> | {{ 'phpbr.forum.topics'|trans({}, 'forum') }}</h3>
            <hr />

            <div class="row">
                <div class="large-6 columns" style="vertical-align: middle;">
                    <strong>{{ 'phpbr.forum.subjects'|trans({}, 'forum')|upper }}</strong>
                </div>
                <div class="large-2 columns text-center" style="vertical-align: middle;">
                    <strong>{{ 'phpbr.forum.topics'|trans({}, 'forum')|upper }}</strong>
                </div>
                <div class="large-2 columns text-center" style="vertical-align: middle;">
                    <strong>{{ 'phpbr.forum.messages'|trans({}, 'forum')|upper }}</strong>
                </div>
                <div class="large-2 columns text-center" style="vertical-align: middle;">
                    <strong>{{ 'phpbr.forum.lasts'|trans({}, 'forum')|upper }}</strong>
                </div>
            </div>
            <hr />

            {% for categoria in categorias %}
            <div class="row">
                <div class="large-6 columns">
                    <strong>
                        <a href="{{ url('forum_ver_categoria', {'slug': categoria.slug}) }}">{{ categoria.nome|upper }}</a>
                    </strong>
                    <br />
                    {{ categoria.descricao }}
                </div>
                <div class="large-2 columns text-center">
                    {{ categoria.id|quantidade_topicos }}
                </div>
                <div class="large-2 columns text-center">
                    {{ categoria.id|quantidade_mensagens }}
                </div>
                <div class="large-2 columns text-center">
                    {{ categoria.id|categoria2ultima_mensagem|date('d/m/Y')  }}
                        <br />
                    <small>
                        {{ categoria.id|categoria2ultima_mensagem|date('U')|tempo_passado }}
                        {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
                    </small>
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>
    </div>
{% endblock %}

