{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-9 columns">
            <h3><a href="{{ url('forum_index') }}">Forum</a> | {{ categoria.nome }} </h3>
        </div>

        <div class="large-3 columns">
            <a href="{{ url('forum_novo_topico') }}" class="button secondary right">
                {{ 'phpbr.forum.new_topic'|trans({}, 'forum') }}
            </a>
        </div>
        <hr />
        <div class="panel radius">
            {{ categoria.descricao }}
        </div>
    </div>

    <div class="row collapse">
        <div class="large-12 columns">
            <table class="forum-full-width">
                <thead>
                    <tr>
                        <th scope="column">
                            <strong>{{ 'phpbr.forum.subject'|trans({}, 'forum')|upper }}</strong>
                        </th>
                        <th scope="column" class="text-center">
                            <strong>{{ 'phpbr.forum.messages'|trans({}, 'forum')|upper }}</strong>
                        </th>
                        <th scope="column" class="text-center">
                            <strong>{{ 'phpbr.forum.author'|trans({}, 'forum')|upper }}</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topico in topicos %}
                        <tr>
                            <td>
                                {{ topico.dataCriacao|date('d/m/Y H:i') }},
                                <small>
                                    {{ topico.dataCriacao|date('U')|tempo_passado }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
                                </small>
                                <p>
                                    <a href="{{ url('forum_ver_mensagem', {'slug': topico.slug}) }}">
                                        {{ topico.assunto }}
                                    </a>
                                </p>
                            </td>
                            <td class="text-center">
                                <strong>{{ (topico.id|topico2quantidade_mensagens) + 1 }}</strong>
                            </td>
                            <td class="text-center">
                                <a href="{{ url('phpbr_app_verusuario', {'usuario': topico.user.username} ) }}">
                                    <img src="{{ topico.user.email|email2gravatar('40') }}" alt="{{ topico.user.name|raw }}" class="avatar" />
                                {{ topico.user.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="large-9 columns" style="vertical-align: middle;">#}

        {#</div>#}
        {#<div class="large-1 columns text-center" style="vertical-align: middle;">#}

        {#</div>#}
        {#<div class="large-2 columns text-center" style="vertical-align: middle;">#}

        {#</div>#}
        {#<br />#}
        {#<hr />#}
    {#</div>#}


    {#{% for topico in topicos %}#}
        {#<div class="row">#}
            {#<div class="large-9 columns">#}
                {#{{ topico.dataCriacao|date('d/m/Y H:i') }},#}
                {#<small>#}
                    {#{{ topico.dataCriacao|date('U')|tempo_passado }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}#}
                {#</small>#}
                {#<p>#}
                    {#<a href="{{ path('forum_ver_mensagem', {'slug': topico.slug}) }}">#}
                       {#<strong>#{{ topico.id }}</strong>#}
                    {#</a>#}
                    {#<a href="{{ path('forum_ver_mensagem', {'slug': topico.slug}) }}">#}
                        {#{{ topico.assunto }}#}
                    {#</a>#}
                {#</p>#}
            {#</div>#}
            {#<div class="large-1 columns text-center">#}
                {#<strong>5</strong>#}
            {#</div>#}
            {#<div class="large-2 columns">#}
                {#<a href="{{ path('phpbr_app_verusuario', {'usuario': topico.user.username} ) }}">#}
                    {#<div class="row collapse">#}
                        {#<div class="large-3 columns">#}
                            {#<img src="{{ topico.user.email|email2gravatar('40') }}" alt="{{ topico.user.name|raw }}" class="avatar" />#}
                        {#</div>#}
                        {#<div class="large-9 columns forum-username">#}
                            {#{{ topico.user.name }}#}
                        {#</div>#}
                    {#</div>#}
                {#</a>#}
            {#</div>#}
            {#<hr />#}
        {#</div>#}
    {#{% endfor %}#}
{% endblock %}

