{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
        <div class="large-8 columns">
            <h3><a href="{{ url('forum_index') }}">Forum</a> | {{ categoria.nome }} </h3>
        </div>

        <div class="large-3 columns">
            <a href="{{ url('forum_novo_topico') }}" class="button secondary right">
                {{ 'phpbr.forum.new_topic'|trans({}, 'forum') }}
            </a>
        </div>
        <hr />
        <div class="panel radius">
            {{ categoria.descricao }}
        </div>
    </div>

    <div class="row collapse">
        <div class="large-11 large-centered columns">
            <table class="forum-full-width">
                <thead>
                    <tr>
                        <th scope="column">
                            <strong>{{ 'phpbr.forum.subject'|trans({}, 'forum')|upper }}</strong>
                        </th>
                        <th scope="column" class="text-center" width="80">
                            <strong>{{ 'phpbr.forum.messages'|trans({}, 'forum')|upper }}</strong>
                        </th>
                        <th scope="column" class="text-center" width="220">
                            <strong>{{ 'phpbr.forum.author'|trans({}, 'forum')|upper }}</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topico in topicos %}
                        <tr>
                            <td>
                                <p>
                                    <a href="{{ url('forum_ver_mensagem', {'slug_categoria': topico.categoria.slug, 'slug': topico.slug}) }}">
                                        {{ topico.assunto }}
                                    </a>
                                </p>
                            </td>
                            <td class="text-center">
                                <strong>{{ (topico.id|topico2quantidade_mensagens) + 1 }}</strong>
                            </td>
                            <td>
                                <a href="{{ url('phpbr_app_verusuario', {'usuario': topico.user.username} ) }}">
                                    <img src="{{ topico.user.email|email2gravatar('40') }}" alt="{{ topico.user.name|raw }}" class="avatar" />
                                    &nbsp;
                                    {{ topico.user.name }}
                                </a>

                                <br>
                                &nbsp;
                                {{ topico.dataCriacao|date('U')|tempo_passado }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
