{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-9 columns">
            <h3>
                <a href="{{ url('forum_index') }}">Forum</a> |
                <a href="{{ url('ver_topico', {'id': topico.categoria.id }) }}">{{ topico.categoria.nome }}</a> |
                {{ topico.assunto }}
            </h3>
        </div>

        <div class="large-3 columns">
            <a href="{{ url('forum_novo_topico') }}" class="button success right">
                Novo Comentário
            </a>
        </div>
        <hr />
    </div>

        <div class="row">
            <div class="large-9 columns">
                <strong>{{ topico.assunto }}</strong>
                <p>
                    {{ topico.mensagem }}
                </p>
            </div>
            <div class="large-3 columns">
                <a href="{{ path('phpbr_app_verusuario', { 'usuario': topico.user.username }) }}">
                    {{ topico.user.username }}
                </a>
                <p>
                    <small>{{ topico.dataCriacao|date('U')|tempo_passado }} atrás</small>
                </p>
            </div>
            <hr />
        </div>
    <hr />
{% endblock %}

