{% extends "::layout.html.twig" %}

{% block title %}
    Forum - {{ 'phpbr.forum.new_category'|trans({}, 'forum') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3>
                <a href="{{ url('forum_index') }}">
                    Forum
                </a>
                    {{ 'phpbr.forum.new_category'|trans({}, 'forum') }}
            </h3>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        phpbr.highlight();
    </script>
{% endblock %}

