{% extends "::layout.html.twig" %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
        <div class="large-8 columns">
            <h3><a href="{{ url('forum_index') }}">Forum</a> | {{ category.name|e }} </h3>
        </div>

        <div class="large-3 columns">
            <a href="{{ url('forum_new_topic') }}" class="button secondary right">
                {{ 'phpbr.forum.new_topic'|trans({}, 'forum') }}
            </a>
        </div>
        <hr />
        <div class="panel radius">
            {{ category.description|e }}
        </div>
    </div>

    <div class="row collapse">
        <div class="large-11 large-centered columns">
            <table class="forum-full-width">
                <thead>
                    <tr>
                        <th scope="column">
                            <strong>{{ 'phpbr.forum.subject'|trans({}, 'forum')|upper|e }}</strong>
                        </th>
                        <th scope="column" class="text-center" width="80">
                            <strong>{{ 'phpbr.forum.messages'|trans({}, 'forum')|upper|e }}</strong>
                        </th>
                        <th scope="column" class="text-center" width="220">
                            <strong>{{ 'phpbr.forum.author'|trans({}, 'forum')|upper|e }}</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                        <tr>
                            <td>
                                <p>
                                    <a href="{{ url('forum_view_message', {'slug_category': topic.category.slug, 'slug': topic.slug}) }}">
                                        {{ topic.subject|e }}
                                    </a>
                                </p>
                            </td>
                            <td class="text-center">
                                <strong>{{ (topic.id|topicMessagesCount) + 1 }}</strong>
                            </td>
                            <td>
                                <a href="{{ url('phpbr_app_viewuser', {'user': topic.user.username|e} ) }}">
                                    <img src="{{ topic.user.email|email2gravatar('40') }}" alt="{{ topic.user.name|e }}" class="avatar" />
                                    &nbsp;
                                    {{ topic.user.name|e }}
                                </a>

                                <br>
                                &nbsp;
                                {{ topic.createdAt|date('U')|time_passed }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
