
{% extends '::layout.html.twig' %}

{% block title %}
    {{ entity.titulo }}
{% endblock %}
{% set queryParams = app.request.query.all %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
            <div class="large-8 columns">
                <h4>
                    http://cole.php-br.org/{{ entity.id }} 
                    <a href="http://cole.php-br.org/{{ entity.id }}/ver-raw" target="_blank" class="label info">[raw]</a>
                    <h5>
                        <strong>Titulo:</strong> {{ entity.titulo }}
                        <span class="label success">{{ entity.dataCriacao|date('U')|tempo_passado }} atrás</span>
                    </h5>
                </h4>
            </div>
            <div class="large-3 columns">
                <a href="{{ url('cole_novo') }}" class="button success right">
                    Novo código
                </a>
            </div>
        <div class="row">
            {% if app.session.get('chaveDeletar') is defined %}
                {% if app.session.get('chaveDeletar') == entity.chaveDeletar %}
                    {{ form(delete_form) }}
                    <span class="label alert">Este botão só está disponível agora. Esta é sua única chance de excluir o código! </span>
                {% endif %}
            {% endif %}
            <div class="panel" style="overflow:auto;">{{ codigo|raw }}</div>
        </div>
    </div>
</div>
{% endblock %}
