{% extends "::layout.html.twig" %}

{% block title %}
    {{ artigo.titulo }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h2>{{ artigo.titulo }}</h2>
            <p class="subheader">
                Publicado por: <a href="/ver-usuario/{{ artigo.user.username|raw }}">{{ artigo.user.name|raw }}</a>,
                 Data: {{ artigo.dataAutorizado|date('d/m/Y') }}, 
                {{ artigo.dataAutorizado|date('U')|tempo_passado }} atrás
                </p>
            {% if artigo.tags|length %}
                <p class="subheader">Tags: {{ artigo.tags|raw }}</p>
            {% endif %}

            <hr/>

            <div class="large-9 medium-9 columns">
                <article id="{{ artigo.slug }}">
                    {{ artigo.texto|raw }}
                </article>
            {{ knp_disqus_render('phpbrorg', {'identifier': artigo.slug, 'limit': 10}) }}
            </div>

            <div class="large-3 medium-3 columns">
                <p class="text-center"><img src="{{ gravatar }}" alt="{{ artigo.user.name|raw }}" class="th" /></p>
                <p>{{ facebookButton() }}</p>
                <p>{{ twitterButton() }}</p>
                <p>{{ linkedinButton() }}</p>
            </div>

        </div>
    </div>
{% endblock %}
