{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h2>{{ artigo.titulo }}</h2>
            <p class="subheader">{{ artigo.score }} pontos / Publicado por: {{ artigo.user.name }} / Data: {{ artigo.dataPublicado|date('d/m/Y') }}</p>

            {% if artigo.tags|length %}
                <p class="subheader">Tags: {{ artigo.tags|e }}</p>
            {% endif %}

            <hr/>

            <article id="{{ artigo.slug|e }}">
                {{ artigo.texto|raw|nl2br }}
            </article>
        </div>
    </div>
{% endblock %}
