{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>{{ artigo.titulo }}</h1>
            <p class="subheader">{{ artigo.score }} pontos / Publicado por: {{ artigo.user.name }} / Data: {{ artigo.dataPublicado|date('d/m/Y') }}</p>

            {% if artigo.tags|length %}
                <p class="subheader">Tags: {{ artigo.tags|e }}</p>
            {% endif %}

            <hr/>

            <article id="{{ artigo.slug|e }}">
                {{ artigo.texto|e|nl2br }}
            </article>
        </div>
    </div>
{% endblock %}
