{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h3><a href="/meus-artigos">Meus Artigos</a> :: Lista de Artigos</h3> 
            <p>
                <a href="{{ path('novo_artigo') }}" class="button success">Criar Artigo</a>
            </p>
            <hr />

            {% if artigos|length %}
            {% for artigo in artigos %}
            <div class="row">
                <div class="large-3 columns text-right">
                    <a data-confirm='{
                        "title":"Tem certeza que deseja excluir este item?",
                        "body":"{{ artigo.titulo|e }}",
                        "ok":"SIM",
                        "cancel":"NÃO"}' 
                    href="/meus-artigos/{{ artigo.id }}/deletar"
                    class="button tiny alert">Deletar</a>

                    <a href="/meus-artigos/{{ artigo.id }}/editar" 
                        class="button tiny">Editar</a>
                </div>

                <div class="large-6 columns">

                    <a href="{{ path('ler_artigo', { slug: artigo.slug }) }}">
                        {{ artigo.titulo|e }}
                    </a> <br />
                    <small>Autor: {{ artigo.user.username|raw }}</small>
                    <br />
                    {% if (artigo.publicado == 1) %}
                        <span 
                            data-tooltip 
                            class="label [radius] success" 
                            title="Você setou seu artigo como visível a todos! Confira a tag APROVADO para ver se o Admin do ##php-br aprovou seu artigo!">VISÍVEL</span>
                        {% if (artigo.aprovado == 1) %}
                            <span 
                                data-tooltip 
                                class="label [radius] success" 
                                title="Seu artigo foi autorizado pelo Admin e está visível no site!">
                                    APROVADO 
                                    {% if (artigo.dataAutorizado is not null) %}
                                        {{ artigo.dataAutorizado|date('U')|tempo_passado }} atrás
                                    {% endif %}
                                </span>
                        {% else %}
                            {% if ((artigo.dataAutorizado is not null) and artigo.aprovado == 0) %}
                                <span data-tooltip class="label [radius] alert" title="Seu artigo está aguardando aprovação.">AGUARDANDO APROVAÇÃO</span>
                            {% else %}
                                <span data-tooltip class="label [radius] alert" title="Seu artigo foi reprovado pelo Admin.">REPROVADO</span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <span 
                            data-tooltip 
                            class="label [radius] alert" 
                            title="Seu artigo está salvo como rascunho. Somente você tem accesso a ele. Para publicá-lo, edite e marque a opção Visível a Todos!">NÃO VISÍVEL</span>
                    {% endif %}

                </div>

                <div class="large-3 columns">
                    <h5>
                        <small>
                            {{ artigo.dataPublicado|date('d/m/Y') }}, 
                            {{ artigo.dataPublicado|date('U')|tempo_passado }} atrás
                        </small>
                    </h5>
                </div>
            </div>
            <hr />
                    {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}
