{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <div class="large-12 columns">
            <h3>Artigos</h3>
            <p>
                <a href="{{ path('new_article') }}">Criar Artigo</a>
            </p>

            {% if articles|length %}
                {% for article in articles %}
                    <div>
                        <h4>
                            <a href="{{ path('read_article', { slug: article.slug }) }}">
                                {{ article.title|e }}
                            </a>
                        </h4>

                        <div style="width:80px; float:left;">
                            <img src="{{ article.user.email|email2gravatar('60') }}" alt="{{ article.user.name|e }}" class="avatar" />
                        </div>

                        <div>
                            <p class="text-justify">
                                {{ article.excerpt|e }}
                            </p>
                            <h5>
                                <small>
                                    Autor:
                                    <a href="{{ path('phpbr_app_viewuser', { 'user': article.user }) }}">{{ article.user.name|e }}</a>
                                    , {{ article.approvedAt|date('U')|time_passed }} atrás
                                </small>
                            </h5>
                        </div>

                        <hr>
                    </div>
                {% endfor %}
            {% endif %}

            {% if articles|length %}
                <div class="row">
                    {{ pagerfanta(articles, 'phpbr', {'pageParameter': '[pagina]'}) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}