{% extends "::layout.html.twig" %}

{% block content %}
    <script>

    </script>
    <div class="row">
        <div class="medium-8 large-8 columns">
            {% for artigo in artigos|slice(0, 6) %}
            <div>
                <h4>
                    <a href="{{ path('ler_artigo', { slug: artigo.slug }) }}">
                        {{ artigo.titulo|e }}
                    </a>
                </h4>
                <div style="width:80px; float:left;">
                    <img src="{{ artigo.user.email|email2gravatar('60') }}" alt="{{ artigo.user.name|raw }}" class="avatar" />
                </div>

                <div>
                    <p class="text-justify">
                        {{ artigo.resumo|e }}
                    </p>
                    <h5>
                        <small>
                        Autor: 
                        <a href="{{ path('phpbr_app_verusuario', { 'usuario': artigo.user }) }}">{{ artigo.user.name|raw }}</a>
                        , {{ artigo.dataAutorizado|date('U')|tempo_passado }} atrás.
                            <span id="comentarios_{{ artigo.slug }}" class="secondary radius label"></span>
                        </small>
                    </h5>
                    <script>
                        phpbr.getComentarios('{{ artigo.slug }}');
                    </script>
                </div>

                <hr>
            </div>
            {% endfor %}
        </div>

        <div class="medium-4 large-4 columns">
            {% if ircNicks|length > 1 %}
                <div class="row sidebar-block">
                    <div class="large-12 columns">
                        <h5><strong>{{  (ircNicks|length - 1) }}</strong> usuários online no ##php-br</h5>

                        <div id="irc-list-block">
                            <ul class="inline-list">
                                {% for ircNick in ircNicks %}
                                    <li><small>{{ ircNick }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <h5>Últimos Cadastrados</h5>

                    <div id="users-block">
                    {% for usuario in usuarios %}
                        <a href="{{ path('phpbr_app_verusuario', { 'usuario': usuario }) }}">
                            <div class="row sidebar-item-block collapse">
                                <div class="large-2 columns">
                                    <img src="{{ usuario.email|email2gravatar('40') }}" alt="{{ usuario.name }}" class="avatar" />
                                </div>
                                <div class="large-10 columns">
                                    {{ usuario.name }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <h5>Coles Recentes</h5>

                    <div id="coles-block">
                        {% for cole in coles %}
                            <a href="{{ url('cole_ver', {'id': cole.id}) }}">
                                <div class="row sidebar-item-block collapse">
                                    <div class="large-2 columns">
                                        <span class="label">{{ cole.tipo }}</span>
                                    </div>
                                    <div class="large-10 columns">
                                        {{ cole.titulo }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="contributors" class="contributors">
                    <h5>
                    Desenvolvedores
                        <br />
                        <small>
                            <a href="https://github.com/php-br-org/php-br" target="_blank">Colabore você também!</a>
                        </small>
                    </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="latest-forum" class="row">
        <div class="large-12 columns">
            <h4>Últimas do Forum</h4>

            {% for mensagem in forumMensagens %}
                <div class="forumMensagem">
                    <a href="{{ path('forum_ver_mensagem', {'slug_categoria': mensagem.topico.categoria.slug, 'slug': mensagem.topico.slug}) }}">
                        <b>{{ mensagem.topico.assunto }}</b>
                    </a>
                    - {{ mensagem.user.username }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>

{% endblock %}