{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <div class="medium-9 large-9 columns">
            {% for artigo in artigos|slice(0, 6) %}
            <div>
                <h4>
                    <a href="{{ path('ler_artigo', { slug: artigo.slug }) }}">
                        {{ artigo.titulo|e }}
                    </a>
                </h4>
                <div style="width:80px; float:left;">
                    <img src="{{ artigo.user.email|email2gravatar('60') }}" alt="{{ artigo.user.name|raw }}" class="avatar2" />
                </div>

                <div>
                    <p class="text-justify">
                        {{ artigo.resumo|e }}
                    </p>
                    <h5>
                        <small>
                        Autor: 
                        <a href="{{ path('phpbr_app_verusuario', { 'usuario': artigo.user }) }}">{{ artigo.user.name|raw }}</a>
                        , {{ artigo.dataAutorizado|date('U')|tempo_passado }} atrás.
                            <span id="comentarios_{{ artigo.slug }}" class="secondary radius label"></span>
                        </small>
                    </h5>
                    <script>
                        phpbr.getComentarios('{{ artigo.slug }}');
                    </script>
                </div>

                <hr>
            </div>
            {% endfor %}

            <div class="row">
                <div class="medium-9 large-9 columns">
                <h4>Últimas do Forum</h4>

                {% for mensagem in forumMensagens %}
                    <div class="forumMensagem">
                        <a href="{{ path('forum_ver_mensagem', {'slug_categoria': mensagem.topico.categoria.slug, 'slug': mensagem.topico.slug}) }}">
                            <b>{{ mensagem.topico.assunto }}</b>
                        </a>
                        - {{ mensagem.user.username }}
                    </div>
                {% endfor %}
                    </div>
            </div>
        </div>

        <div class="medium-3 large-3 columns">
            {% if ircNicks|length > 1 %}
                <div class="row sidebar-block">
                    <div class="large-12 columns">
                        <div class="user-title-box"><h5><small>AGORA NO ##php-br</small></h5></div>
                        <h5>
                            <small>
                                <strong>{{  (ircNicks|length - 1) }}</strong> usuários online
                            </small>
                        </h5>
                        <div id="irc-list-block">
                            <ul class="inline-list">
                                {% for ircNick in ircNicks %}
                                    <li><small>{{ ircNick }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="users-block">
                        <div class="user-title-box" id="ultimos-cadastros"><h5><small>ÚLTIMOS CADASTROS</small></h5></div>
                        {% for usuario in usuarios %}
                        <div class="row sidebar-item-block collapse">
                            <a href="{{ path('phpbr_app_verusuario', { 'usuario': usuario }) }}">
                                <div class="large-2 columns">
                                    <img src="{{ usuario.email|email2gravatar('40') }}" alt="{{ usuario.name }}" class="avatar2" />
                                </div>
                                <div class="large-10 columns">
                                    <div class="user-box"><h5> <small> {{ usuario.username|lower }} </small> </h5></div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="coles-block">
                        <div class="user-title-box"><h5><small>COLE CÓDIGOS</small></h5></div>
                        {% for cole in coles %}
                            <a href="{{ url('cole_ver', {'id': cole.id}) }}">
                                <div class="row sidebar-item-block collapse">
                                    <div class="large-2 columns">
                                        <span class="label">{{ cole.tipo }}</span>
                                    </div>
                                    <div class="large-10 columns">
                                        <h5><small>{{ cole.titulo|upper }}</small></h5>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div class="user-title-box"><h5><small>COLABORADORES</small></h5></div>
                    <div id="contributors" class="contributors">
                    <h5>
                        <small>
                            <a href="https://github.com/php-br-org/php-br" target="_blank">Colabore você também!</a>
                        </small>
                    </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
