{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="medium-9 large-9 columns">
            {% for artigo in artigos|slice(0, 6) %}
            <div>
                <h4>
                    <a href="{{ path('ler_artigo', { slug: artigo.slug }) }}">
                        {{ artigo.titulo|e }}
                    </a>
                </h4>
                <div style="width:80px; float:left;">
                    <img src="{{ artigo.user.email|email2gravatar('60') }}" alt="{{ artigo.user.name|raw }}" class="th img-gravatar-inicial" />
                </div>
                <div>
                    <p class="text-justify">
                        {{ artigo.resumo|e }}
                    </p>
                    <h5>
                        <small>
                        Autor: <a href="/ver-usuario/{{ artigo.user.username|raw }}">{{ artigo.user.name|raw }}</a>
                        , {{ artigo.dataAutorizado|date('U')|tempo_passado }} atrás
                        </small>
                    </h5>
                </div>
                <hr />
            </div>
            {% endfor %}
        </div>

        <div class="medium-3 large-3 columns text-center">
            <div class="text-left">
            <strong>ÚLTIMOS CADASTROS</strong>
            </div>
            {% for usuario in usuarios|reverse|slice(0, 5) %}
                <p class="text-left">
                <a href="/ver-usuario/{{ usuario.username|raw }}">
                    <img src="{{ usuario.email|email2gravatar('40') }}" alt="{{ usuario.name|raw }}" class="th img-gravatar-inicial" />
                </a>
                <p class="text-left">
                    <a href="/ver-usuario/{{ usuario.username|raw }}">{{ usuario.name|raw }}</a>
                </p>
                </p>
                <hr />
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
                {% block fos_user_content %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr />
            <h3>Notícias do mundo PHP</h3>
                <div class="medium-8 large-8 columns">
                    <h4></h4>
                </div>
                <div class="medium-3 large-3 columns">
                    <h4>Vagas de Emprego</h4>
                    <p>
                        -
                    </p>
                    <p>
                        -
                    </p>
                    <hr />
                    <h4>Eventos PHP</h4>
                    <p>
                    - <br>
                    - <br>
                    </p>
                </div>
        </div>
    </div>
{% endblock %}
