{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'phpbr.event.events'|trans({}, 'event') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="large-9 columns">
                <h3>{{ 'phpbr.event.events'|trans({}, 'event') }}</h3>
            </div>
            <div class="large-3 columns text-right">
                <a href="{{ url('phpbr_new_event') }}" class="button success">
                    {{ 'phpbr.event.new_event'|trans({}, 'event') }}
                </a>
            </div>
            <hr>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice panel callout radius">
                    {{ flashMessage }}
                </div>
                <br />
            {% endfor %}

            <div class="large-12 columns">
                {% for entity in entities %}
                    <div class="large-9 columns">
                        <a href="{{ url('phpbr_event_view', { 'slug': entity.slug }) }}">{{ entity.title }}</a>
                        <small>{{ entity.day|date('d/m/Y') }}</small>
                        </h4>
                        {{ entity.location }}
                    </div>
                    <div class="large-3 columns text-right">
                        <a data-confirm='{
                                "title":"Tem certeza que deseja excluir este item?",
                                "body":"{{ entity.title|e }}",
                                "ok":"SIM",
                                "cancel":"NÃO"}'
                           href="{{ path('phpbr_event_delete', { id: entity.id }) }}"
                           class="button tiny alert">Deletar</a>

                        <a href="{{ path('phpbr_event_edit', { id: entity.id }) }}" class="button tiny">Editar</a>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
