{% extends '::layout.html.twig' %}


{% block title %}
    http://cole.php-br.org
{% endblock %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
    <h3>Novo Código</h3>
        {{ form(form) }}
    </div>
    <hr />

    {% for entity in entities %}
            <div class="row">
                <div class="large-3 columns">
                    <h5 class="right">
                    <span class="label">
                        {% if entity.dataCriacao %}{{ entity.dataCriacao|date('U')|time_passed }} atrás{% endif %}
                    </span>
                        <small>{% if entity.dataCriacao %}{{ entity.dataCriacao|date('d/m/y H:i') }}{% endif %}</small>
                    </h5>
                </div>
                <div class="large-8 columns">
                    <h5>
                        <a href="{{ path('paste_ver', { 'id': entity.id }) }}">{{ entity.titulo }}</a>
                    </h5>
                </div>
            </div>
        {% endfor %}


    {% if entities|length %}
        <div class="row">
            <div class="large-11 large-centered columns text-center">
                {{ pagerfanta(entities, 'phpbr', {'pageParameter': '[pagina]'}) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

