{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ 'phpbr.main.paste'|trans({}, 'main') }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'phpbr.main.title'|trans({}, 'main') }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ 'phpbr.main.type'|trans({}, 'main') }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>{{ 'phpbr.main.code'|trans({}, 'main') }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ 'phpbr.main.creation_date'|trans({}, 'main') }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'phpbr.main.deleteKey'|trans({}, 'main') }}</th>
                <td>{{ entity.deleteKey }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cole') }}">
            {{ 'phpbr.main.back_to_the_list'|trans({}, 'main') }}
        </a>
    </li>
    <li>
        <a href="{{ path('cole_edit', { 'id': entity.id }) }}">
            {{ 'phpbr.main.edit'|trans({}, 'main') }}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
