{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <div class="large-12 columns">
            <h3><a href="{{ path('list_my_articles') }}">Meus Artigos</a> :: Lista de Artigos</h3>
            <p>
                <a href="{{ path('new_article') }}" class="button success">Criar Artigo</a>
            </p>

            <hr>

            {% if articles|length %}
                {% for article in articles %}
                    <div class="row">
                        <div class="large-3 columns text-right">
                            <a data-confirm='{
                                "title":"Tem certeza que deseja excluir este item?",
                                "body":"{{ article.title|e }}",
                                "ok":"SIM",
                                "cancel":"NÃO"}'
                            href="{{ path('delete_my_article', { id: article.id }) }}"
                            class="button tiny alert">Deletar</a>

                            <a href="{{ path('article_edit', { id: article.id }) }}" class="button tiny">Editar</a>
                        </div>

                        <div class="large-6 columns">

                            <a href="{{ path('read_article', { slug: article.slug }) }}">
                                {{ article.title|e }}
                            </a>
                            <br>

                            <small>Autor: {{ article.user.username|e }}</small>
                            <br>

                            {% if (article.published == 1) %}
                                <span
                                    data-tooltip
                                    class="label [radius] success"
                                    title="Você setou seu artigo como visível a todos! Confira a tag APROVADO para ver se o Admin do ##php-br aprovou seu artigo!">VISÍVEL</span>
                                {% if (article.approved == 1) %}
                                    <span
                                        data-tooltip
                                        class="label [radius] success"
                                        title="Seu artigo foi autorizado pelo Admin e está visível no site!">
                                            APROVADO
                                            {% if (article.approvedAt is not null) %}
                                                {{ article.approvedAt|date('U')|time_passed }} atrás
                                            {% endif %}
                                        </span>
                                {% else %}
                                    {% if (article.approvedAt|length < 1) %}
                                        <span data-tooltip class="label [radius] alert" title="Seu artigo está aguardando aprovação.">AGUARDANDO APROVAÇÃO</span>
                                    {% else %}
                                        <span data-tooltip class="label [radius] alert" title="Seu artigo foi reprovado pelo Admin.">REPROVADO</span>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <span
                                    data-tooltip
                                    class="label [radius] alert"
                                    title="Seu artigo está salvo como rascunho. Somente você tem accesso a ele. Para publicá-lo, edite e marque a opção Visível a Todos!">RASCUNHO</span>
                            {% endif %}
                        </div>

                        <div class="large-3 columns">
                            <h5>
                                <small>
                                    {{ article.approvedAt|date('d/m/Y') }},
                                    {{ article.approvedAt|date('U')|time_passed }} atrás
                                </small>
                            </h5>
                        </div>
                    </div>

                    <hr>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    {% if articles|length %}
        <div class="row">
            <div class="large-12 columns text-center">
                {{ pagerfanta(articles, 'phpbr', {'pageParameter': '[pagina]'}) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
