{% extends "::layout.html.twig" %}

{% block content %}
<div class="row main-div-background">
    <div class="large-12 columns">
        <h3>Informações de Perfil</h3>
        <p>
        {% if (user is not null) %}
            <p><h4>{{ user.name }}</h4></p>
            <p>
                <hr />
            </p>
            <p>
                <img src="{{ user.email|email2gravatar('180') }}" alt="{{ user.name|e }}" class="th img-gravatar-inicial" />
            </p>
            {% if (user.linkedin|length > 0) %}
                <p>Linkedin: <a href="{{ user.linkedin }}" target="_blank">{{ user.linkedin }}</a></p>
            {% endif %}

            {% if (user.twitter|length > 0) %}
                <p>Twitter: <a href="{{ user.twitter }}" target="_blank">{{ user.twitter }}</a></p>
            {% endif %}

            {% if (user.github|length > 0) %}
                <p>Github: <a href="{{ user.github }}" target="_blank">{{ user.github }}</a></p>
            {% endif %}
        {% else %}
            <p>404</p>
            <p>Este usuário não existe</p>
        {% endif %}
    </div>
</div>
{% endblock %}

