{% extends "::layout_admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h4>{{ 'phpbr.header.articles'|trans({}, 'article') }}</h4>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="row">
                    <div class="large-12 columns">
                        <div data-alert class="alert-box info">
                            {{ flashMessage }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if articles|length %}
                    <table width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'phpbr.header.title'|trans({}, 'article') }}</th>
                            <th>{{ 'phpbr.header.published_by'|trans({}, 'article') }}:</th>
                            <th>{{ 'phpbr.header.date'|trans({}, 'article') }}</th>
                            <th>{{ 'phpbr.header.action'|trans({}, 'article') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>
                            <a href="{{ path('read_article', { slug: article.slug }) }}" target="_blank">
                                {{ article.title|e }}
                            </a>
                                </td>
                                <td>
                                    {{ article.user.name|e }}
                                </td>
                                <td>
                                    {{ article.publishedAt|date('d/m/Y') }}
                                </td>
                                <td>
                                    {% if article.approved == false %}
                                        <a href="{{ path('admin_article_approve', {slug: article.slug}) }}">{{ 'phpbr.header.approve'|trans({}, 'article') }}</a>
                                    {% else %}
                                        <a href="{{ path('admin_article_refuse', {slug: article.slug}) }}">{{ 'phpbr.header.cancel'|trans({}, 'article') }}</a>
                                    {% endif %}
                                     | {{ 'phpbr.header.remove'|trans({}, 'article') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            {% else %}
                {{ 'phpbr.header.massage'|trans({}, 'article') }}.
            {% endif %}
        </div>
    </div>
{% endblock %}
