<div class="rodape">
    <footer class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-3 columns">
                    <ul class="no-bullet left">
                        <li><a href="{{ url('lista_artigos') }}">{{ 'phpbr.header.articles'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('phpbr_app_quemsomos') }}">{{ 'phpbr.header.about'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('phpbr_app_webchat') }}">{{ 'phpbr.header.webchat'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('cole') }}">{{ 'phpbr.header.paste_code'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('forum_index') }}">{{ 'phpbr.header.forum'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('phpbr_event_view_all') }}">{{ 'phpbr.event.events'|trans({}, 'event') }}</a></li>
                        <li><a href="{{ url('nelmio_api_doc_index') }}">{{ 'phpbr.header.api'|trans({}, 'header') }}</a></li>
                        <li><a href="{{ url('phpbr_app_contato') }}">{{ 'phpbr.header.contact'|trans({}, 'header') }}</a></li>
                    </ul>
                </div>

                <div class="large-3 columns">
                    <h5><strong>REDES SOCIAIS:</strong></h5>
                    <p>
                        FACEBOOK <br />
                        TWITTER <br />
                        YOUTUBE <br />
                        <a href="https://github.com/php-br-org/php-br/" target="_blank">GITHUB</a> <br />
                    </p>
                </div>

                <div class="large-3 columns">

                </div>



                <div class="large-3 columns">
                    <h4>
                        <strong>
                            ##php-br <br />
                            irc.freenode.net
                        </strong>
                    </h4>
                </div>

            </div>
        </div>
    </footer>
</div>
