<div class="rodape-div">
    <footer class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-5 columns">
                    <p>&copy; Copyright ##php-br | irc.freenode.net</p>
                </div>
                <div class="large-7 columns">
                    <ul class="inline-list right">
                        <li><a href="{{ url('lista_artigos') }}">Artigos</a></li>
                        <li><a href="{{ url('phpbr_app_quemsomos') }}">Quem somos</a></li>
                        <li><a href="{{ url('phpbr_app_webchat') }}">Webchat</a></li>
                        <li><a href="{{ url('cole') }}">Cole Códigos</a></li>
                        <li><a href="{{ url('forum_index') }}">Forum</a></li>
                        <li><a href="{{ url('phpbr_app_contato') }}">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
