<header>
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="has-dropdown">
                            <a href="javascript:return false;">
                                Meu Dados
                            </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="http://php-br.org{{ path('lista_meus_artigos') }}">Meus Artigos</a>
                                </li>
                                <li>
                                    <a href="http://php-br.org{{ path('fos_user_profile_edit') }}">Editar Perfil</a>
                                </li>
                            </ul>
                        </li>

                        {% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')) %}
                            <li class="has-dropdown">
                                <a href="http://php-br.org{{ path('home_admin') }}">Painel Admin</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="{{ path('admin_artigos') }}">Aprovar Artigos</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="http://php-br.org{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="http://php-br.org{{ path('fos_user_security_login') }}">Entrar</a>
                        </li>
                        <li>
                            <a href="http://php-br.org{{ path('fos_user_registration_register') }}">Novo Perfil</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="http://php-br.org{{ path('lista_artigos') }}">Artigos</a></li>
                    <li><a href="http://php-br.org/quem-somos">Quem somos</a></li>
                    <li><a href="http://php-br.org/webchat">Webchat</a></li>
                    <li><a href="http://php-br.org/colabore">Colabore</a></li>
                    <li><a href="http://cole.php-br.org/">Cole Códigos</a></li>
                    <li><a href="http://php-br.org/contato">Contato</a></li>
                </ul>
            </section>
        </nav>
    </div>
</header>

<div id="content-wrapper">
    <div class="panel">
        <div class="row">
            <div class="large-4 columns">
                <a href="http://php-br.org">
                    <img src="{{ asset('bundles/phpbrapp/assets/images/logo-site.png') }}" border="0" />
                </a>
            </div>
            <div class="large-8 columns">
                <a href="https://www.digitalocean.com/?refcode=814f738c2a2d">
                    <img src="{{ asset('bundles/phpbrapp/assets/images/ssd_digitalocean.jpg') }}" border="0" />
                </a>
            </div>
        </div>
    </div>
</div>
