{% extends '::layout.html.twig' %}


{% block title %}
    {{ entity.title|default('phpbr.paste.paste'|trans({}, 'paste')) }}
{% endblock %}

{% block content %}
<div class="row main-div-background">
    <div class="large-11 large-centered columns">
    <h3>{{ 'phpbr.paste.new_paste'|trans({}, 'paste') }}</h3>
        {{ form(form) }}
    </div>
    <hr />

    {% for entity in entities %}
            <div class="row">
                <div class="large-3 columns">
                    <h5 class="right">
                    <span class="label">
                        {% if entity.createdAt %}{{ entity.createdAt|date('U')|time_passed }} {{ 'phpbr.forum.ago'|trans({}, 'forum') }}{% endif %}
                    </span>
                        <small>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/y H:i') }}{% endif %}</small>
                    </h5>
                </div>
                <div class="large-8 columns">
                    <h5>
                        <a href="{{ path('paste_view', { 'id': entity.id }) }}">{{ entity.title }}</a>
                    </h5>
                </div>
            </div>
        {% endfor %}


    {% if entities|length %}
        <div class="row">
            <div class="large-11 large-centered columns text-center">
                {{ pagerfanta(entities, 'phpbr', {'pageParameter': '[page]'}) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

