{% extends "::layout.html.twig" %}

{% block content %}
    <div class="row main-div-background">
        <div class="medium-9 large-9 columns">
            {% for article in articles|slice(0, 6) %}
            <div>
                <h5>
                    <a href="{{ path('read_article', { slug: article.slug }) }}">
                        {{ article.title|e }}
                    </a>
                </h5>
                <div style="width:80px; float:left;">
                    <img src="{{ article.user.email|email2gravatar('60') }}" alt="{{ article.user.name|e }}" class="avatar2" />
                </div>

                <div>
                    <p class="text-justify">
                        {{ article.excerpt|e }}
                    </p>
                    <h5>
                        <small>
                        Autor: 
                        <a href="{{ path('phpbr_app_viewuser', { 'user': article.user }) }}">{{ article.user.name|e }}</a>
                        , {{ article.approvedAt|date('U')|time_passed }} {{ 'phpbr.main.ago'|trans({}, 'main') }}.
                            <span id="comments_{{ article.slug }}" class="secondary radius label"></span>
                        </small>
                    </h5>
                    <script>
                        phpbr.getComments('{{ article.slug }}');
                    </script>
                </div>

                <hr>
            </div>
            {% endfor %}

            <div class="row">
                <div class="medium-9 large-9 columns">
                <h4>Últimas do Forum</h4>

                {% for message in forumMessages %}
                    <div class="forumMensagem">
                        <a href="{{ path('forum_view_message', {'slug_category': message.topic.category.slug, 'slug': message.topic.slug}) }}">
                            <b>{{ message.topic.subject }}</b>
                        </a>
                        - {{ message.user.username }}
                    </div>
                {% endfor %}
                    </div>
            </div>
        </div>

        <div class="medium-3 large-3 columns">
            {% if ircNicks|length > 1 %}
                <div class="row sidebar-block">
                    <div class="large-12 columns">
                        <div class="user-title-box"><h5><small>AGORA NO ##php-br</small></h5></div>
                        <h5>
                            <small>
                                <strong>{{  (ircNicks|length - 1) }}</strong> usuários online
                            </small>
                        </h5>
                        <div id="irc-list-block">
                            <ul class="inline-list">
                                {% for ircNick in ircNicks %}
                                    <li><small>{{ ircNick }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
                    </div>
            {% endif %}

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="comunidade-block">
                        <div class="user-title-box"><h5><small>COMUNIDADE</small></h5></div>
                        <div class="row sidebar-item-block collapse">
                            <div>
                                <h5>
                                    <small>
                                        <a href="http://phpdojeitocerto.tumblr.com/" target="_blank">phpdojeitocerto.tumblr.com</a>
                                    </small>
                                </h5>
                            </div>
                            <div>
                                <h5>
                                    <small>
                                        <a href="http://www.rumoacertificacaophp.com/" target="_blank">www.rumoacertificacaophp.com</a>
                                    </small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="users-block">
                        <div class="user-title-box" id="ultimos-cadastros"><h5><small>ÚLTIMOS CADASTROS</small></h5></div>
                        {% for user in users %}
                        <div class="row sidebar-item-block collapse">
                            <a href="{{ path('phpbr_app_viewuser', { 'user': user }) }}">
                                <img src="{{ user.email|email2gravatar('40') }}" alt="{{ user.name }}" class="avatar" />
                                <div class="user-box"><h5> <small> {{ user.username|lower }} </small> </h5></div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div id="coles-block">
                        <div class="user-title-box"><h5><small>{{ 'phpbr.paste.paste_codes'|trans({}, 'paste')|upper }}</small></h5></div>
                        {% for paste in pastes %}
                            <a href="{{ url('paste_view', {'id': paste.id}) }}">
                                <div class="row sidebar-item-block collapse">
                                    <div class="large-3 columns">
                                        <span class="label">{{ paste.type|e }}</span>
                                    </div>
                                    <div class="large-9 columns">
                                        <h5><small>{{ paste.title|e|upper }}</small></h5>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row sidebar-block">
                <div class="large-12 columns">
                    <div class="user-title-box"><h5><small>{{ 'phpbr.main.contributors'|trans({}, 'main') }}</small></h5></div>
                    <div id="contributors" class="contributors">
                    <h5>
                        <small>
                            <a href="https://github.com/php-br-org/php-br" target="_blank">{{ 'phpbr.main.you_can_collaborate'|trans({}, 'main') }}</a>
                        </small>
                    </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
